{% extends "_base.html" %}

{% block title %} Register - Transquality {% endblock title %}

<head>
    <style>
        .alert-forms {
            position: fixed;
            top: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 9999;
            height: 4rem;
        }
    </style>
</head>


{% block content %}

    <div class="questionnaire-container">
        <!-- ALERTS -->
        <div class="alert alert-danger alert-dismissible fade show alert-forms" id="passwordMismatchAlert" role="alert"
            style="width: 80%; display: none;">
            <strong>Error:</strong> The passwords do not match. Please try again.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        {% for error in errors %}
        <div class="alert alert-success">
            {{ error }}
        </div>
        {% endfor %}

        <div class="alert alert-danger alert-dismissible fade show alert-forms" id="userExistsAlert" role="alert"
            style="width: 80%; display: none;">
            <strong>Error:</strong> This username already exists. Please try again.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="container-login100" style="background-image: none !important;">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">

                <form class="login100-form validate-form flex-sb flex-w" action="/register" method="post">


                    <span class="txt1 p-b-11">Please enter the <b>Name and Surname</b> of the new user : </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Please specify a login">
                        <input class="input100" type="text" id="name" name="name" required value="{{name}}" placeholder="Nom et Prenom">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">Please enter the <b>Name</b> of the new user :
                    </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Please specify a login">
                        <input class="input100" type="text" id="username" name="username" required value="{{username}}" placeholder="Username">
                        <span class="focus-input100"></span>
                    </div>

                    <span class="txt1 p-b-11">Select the role of user : </span>
                    <div class="dropdown" style="width: 100%;">
                        <select id="role" name="role" class="btn btn-secondary dropdown-toggle m-b-36" value="{{role}}" required>
                            <option value="admin">Administrator</option>
                            <option value="user">User</option>
                        </select>
                        
                    </div>

                    <span class="txt1 p-b-11">Please enter the password : </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Please enter the password">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        <input class="input100" type="password" id="password" name="password" value="{{password}}" placeholder="Password" required>
                        <span class="focus-input100" required></span>
                    </div>

                    <span class="txt1 p-b-11">Please confirm the password : </span>
                    <div class="wrap-input100 validate-input m-b-36" data-validate="Please enter the password">
                        <span class="btn-show-pass">
                            <i class="fa fa-eye"></i>
                        </span>
                        <input class="input100" type="password" id="passwordConfirm" name="passwordConfirm" value="{{passwordConfirm}}" required placeholder="Confirm Password">
                        <span class="focus-input100" required></span>
                    </div>

                    <div class="forms-buttons mt-5">
                        <a class="btn btn-secondary d-inline-flex align-items-center" style="margin: 0;" type="button" href="/home">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                            Homepage
                        </a>

                        <button type="submit" class="btn btn-danger d-inline-flex align-items-center" style="padding: 6px 32px;"  id="submitBtn">Register</button>

                    </div>

                </form>

            </div>
        </div>
    </div>

    <script src="../static/js/scriptLoginRegister.js"></script>

{% endblock content %}