{% extends "_base.html" %}

{% block title %} User Info - Transquality {% endblock title %}

{% block content %}

    <div class="limiter">
        {% if msg %}
        <div class="container">
            <div class="alert alert-info" role="alert">
                {{ msg }}
            </div>
        </div>
        {% endif %}
        
        <div class="container-login100">
            <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
                <h1 style="font-weight: 600;padding: 0 0 12px 0;">Profile</h1>
    
                <div class="profile-info">
                    <h4 style="margin-bottom: 4px;"><b>Name: </b>{{ current_user.name }}</h4>
                    <h4 style="margin-bottom: 4px;"><b>Username: </b>{{ current_user.username }}</h4>
                    <h5 style="margin-bottom: 4px; font-style: italic;"><b>ID: </b>{{ current_user._id }}</h5>
    
                    <div class="d-flex gap-2 justify-content-right py-5">
                        <a class="btn btn-secondary d-inline-flex align-items-center" type="button" href="/home">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                            Homepage
                        </a>
                        <a type="button" class="btn btn-password-pr" id="edit-password-btn" style="margin-left: 12px; color: white;">Edit Password</a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="password-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 100% !important; text-align: start;">
                <div class="modal-header">
                    <h5 class="modal-title">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="password-form" action="/update-password" method="POST">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="form-group">
                            <label for="current_password">Current Password</label>
                            <input type="password" class="form-control" id="current_password" name="current_password" required>
                        </div>
                        <div class="form-group">
                            <label for="new_password">New Password</label>
                            <input type="password" class="form-control" id="new_password" name="new_password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm-password">Confirm Password</label>
                            <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-password-pr" id="save-password-btn">Save</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('edit-password-btn').addEventListener('click', function () {
            $('#password-modal').modal('show');
        });

        document.getElementById('save-password-btn').addEventListener('click', function () {
            var form = document.getElementById('password-form');
            var currentPassword = document.getElementById('current_password').value;
            var newPassword = document.getElementById('new_password').value;
            var confirmPassword = document.getElementById('confirm-password').value;

            var url = form.action + `?current_password=${encodeURIComponent(currentPassword)}&new_password=${encodeURIComponent(newPassword)}`;

            fetch(url, {
                method: 'PUT',
            })
            .then(response => {
                if (response.ok) {
                    // Password update successful, reload the page or show a success message
                    location.reload();
                } else {
                    // Handle the error case
                    console.error('Password update failed');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>

{% endblock content %}